.chatroom_mainSection{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  gap:0.5rem;
  padding:0.5rem;
  margin-top:1rem;
}
.empty_chatroom{
  padding:1rem;
  grid-column: 3 / -1;
  min-height:80dvh;
}
.hide_friendLists{
  display:block;
}
.chat_main{
  padding:0.5rem;
  grid-column: 3 / -1;
}
.chat_main h2{
  text-align: center;
  padding-bottom:1rem;
}
.chat_container {
  width: 80%;
  max-height:64dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin:0 auto;
  padding:0.8rem;
  overflow-y: scroll;
  box-shadow: 1px 1px 4px 1px #daa4de;
  scrollbar-width: none; /* hide scroll bar Firefox */
  -ms-overflow-style: none;  /* hide scroll bar  IE 10+ */
}
.chat_container::-webkit-scrollbar { 
  display: none;  /* hide scroll bar Chrome, safari */
}
.my_chat,
.friend_chat {
  max-width: 80%;
  padding: 0.5rem;
  border-radius: 8px;
  word-wrap: break-word;
}
.my_chat {
  align-self: flex-end;
}
.friend_chat {
  background-color:#daa4de;;
  align-self: flex-start;
}

.chatInp_main{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem auto;
}
.chat_inp{
  width:60%;
  padding:0.8rem;
  font-size: 1rem;
}
.inp_btn{
  width:20%;
  padding:0.8rem;
  margin-left:1rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.show_friendLists{
  grid-column: 1/3;
}
.hide_friendLists{
  grid-column: 1/3;
}
.friends_main{
  background-color: #daa4de;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.6);
  padding:0;
  padding-bottom: 0.5rem;
  width:100%;
  overflow-y: scroll;
  scrollbar-width: none; /* hide scroll bar Firefox */
  -ms-overflow-style: none;  /* hide scroll bar  IE 10+ */
}
.friends_main::-webkit-scrollbar { 
  display: none;  /* hide scroll bar Chrome, safari */
}
.users_lists{
  border:none;
  margin-top:0.5rem;
  padding:0.2rem;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  gap:1rem;
}
.users_lists p{
  font-size: 1.1rem;
  font-weight:600;
}
.users_lists button{
  font-size: 1rem;
  padding:0.4rem 1.2rem;
  cursor:pointer;
}
.users_img{
  width:35px;
  height:35px;
  background-color:#daa4de;
  border:1px solid white;
  border-radius: 50%;
}
.req_btn{
  padding: 0.4rem 0.8rem;
}
@media (max-width:750px){
  .chat_main{
    padding:0rem;
    grid-column: 1 / -1;
  }
  .chat_container {
    width: 95%;
    min-height: 64dvh;
    max-height: 65dvh;
  }
  .chatInp_main{
    width:95%;
    margin:1rem auto;
  }
  .chat_inp{
    width:80%;
    padding:0.8rem;
    font-size: 1rem;
  }
  .inp_btn{
    width:20%;
    padding:0.8rem;
    margin-left:0.5rem;
  }
  .chatroom_mainSection{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:1rem;
    margin-top:0;
    padding:1rem;
  }
  .empty_chatroom{
    display:none;
  }
  .hide_friendLists{
    display:none;
  }
  .friends_main{
    padding:0;
    width:100%;
  }
  .users_lists{
    margin-top:0rem;
    padding:1rem;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:1rem;
}
}